<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/form.css">
</head>
<body>
    <main>
        <%- include("../includes/navigation.ejs") %>
        <form class="form" action="/signup" method="POST">
            <input type="text" placeholder="Email" name="email">
            <input type="password" placeholder="Password" name="password">
            <input type="password" placeholder="Confirm Password" name="confirmPassword">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit">Sign Up</button>
        </form>
    </main>
</body>
</html>