    <header>
        <nav class="navigation">
            <ul class="navigation-list">
                <li class="navigation-item"><a href="/add-product" class="<%= path == '/add-product' ? 'active' : '' %>">Add Product</a></li>
                <li class="navigation-item"><a href="/" class="<%= path == '/products' ? 'active' : '' %>">Products</a></li>
            </ul>
        </nav>
    </header>