<% if (successMessages.length > 0) { %>
    <ul class="message-list">
        <% for(let success of successMessages) { %>
        <li class="success-item"><%= success %></li>
        <% } %>
    </ul>
<% } %>
