<% if (success && success.length > 0) { %>
    <div class="toast toast-success">
        <%= success[0] %>
    </div>
<% } %>

<% if (error && error.length > 0) { %>
    <div class="toast toast-error">
        <%= error[0] %>
    </div>
<% } %>