<%- include('includes/head.ejs') %>
</head>
<%- include('./includes/body.ejs') %>
        <h1 class="not-found">Server Error</h1>
        <p class="error-msg">Please try again after some time</p>
    </main>
</body>
</html>