* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
    font-size: 24px;
    color: #ccc;
}

.navigation {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    background: #302f29;
}

.navigation-list {
    list-style: none;
    display: flex;
    gap: 8px;
    align-items: center;
}

.navigation-item {
    color: white;
}

.navigation-item a,
.navigation-item form button.nav-btn {
    text-decoration: none;
    color: white;
    background: none;
    border: none;
    font-size: 16px;
}

.navigation-item a:hover,
.navigation-item a.active,
.navigation-item form button.nav-btn:hover {
    color: #f3f391;
}

.divider {
    height: 2rem;
    width: 2px;
    background: #ceabab;
}

table {
    border-collapse: collapse;
}

td,
th {
    padding: 6px 8px;
    border: 1px solid #302f29;
}
