
.order {
    list-style: none;
}
.order > li {
    padding: 1rem;
    margin-top: 2rem;
    box-shadow: 1px 1px 10px #ccc;
    border: 1px solid #ccc;
}

.order-product {
    list-style: none;
}
.order-product li {
    padding: 1rem;
    border: 1px solid #ddd;
    margin-top: 1rem;
}

.btn {
    text-decoration: none;
    background: #7575ff;
    color: white;
    padding: 6px 8px;
    font-size: 16px;
    border-radius: 2px;
    margin-left: 1rem;
}