
ul.products {
    display: flex;
    gap: 8px;
    padding: 1rem;
    list-style: none;
}

ul.products li {
    background: #a5f8a5;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

li h2 {
    font-size: 20px;
    padding-bottom: 4px;
    border-bottom: 1px solid white;
}

li p {
    font-size: 14px;
}