
ul.products {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 1rem;
    list-style: none;
}

ul.products li {
    width: 15rem;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    border-radius: 4px;
    background: #a5f8a5;
}

ul.products li.admin {
    background: #dd9c6a;
}

.title {
    color: #333;
    font-size: 20px;
    padding-bottom: 4px;
    border-bottom: 1px solid white;
}

.price {
    font-size: 18px;
    color: #6565f4;
}

.description {
    font-size: 14px;
}

.actions {
    display: flex;
    gap: 8px;
}

.actions a,
.actions button {
    text-decoration: none;
    border: none;
    color: white;
    font-size: 16px;
    background: #7171f8;
    padding: 4px 10px;
    border-radius: 4px;
    cursor: pointer;
}